body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

h1 {
    color: #569cd6;
}

h2 {
    color: #333;
}

section {
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
}

.highlight {
    font-weight: bold;
    color: #d9534f;
}

.code {
    background-color: #1e1e1e; /* Cor de fundo escura (semelhante ao VSCode) */
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', monospace; /* Fonte de espaçamento fixo */
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #dcdcdc; /* Cor do texto (quase branca) */
}

/* Estilos para diferentes partes do código */
.code .keyword {
    color: #569cd6; /* Cor azul para palavras-chave como if, else, etc. */
    font-weight: bold;
}

.code .string {
    color: #ce9178; /* Cor laranja para strings */
}

.code .comment {
    color: #6a9955; /* Cor verde para comentários */
    font-style: italic;
}

.code .number {
    color: #b5cea8; /* Cor para números */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
